@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-polling app</h1>
</div>

<div class="row">
    <div>
        <h2>What is the E-polling app?</h2>
        <p>
            The E-polling app is an app designed to take polls for the election
        </p>
    </div>
</div>